<div class="header navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">アプリケーション名</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav justify-content-end">
            <button class="btn btn-outline-success" type="submit">ログアウト</button>
        </ul>
    </div>
</div>