<!DOCTYPE html>
<html
xmlns         = "http://www.w3.org/1999/xhtml"
xmlns:th      = "http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<meta charset="UTF-8" />
		<title>Insert title here</title>
		<link href="./lib/css/bootstrap.css" rel="stylesheet">
		<link href="./css/admin.css" rel="stylesheet">
	</head>
	<body>
		<div th:replace="layout/header :: header">&nbsp;</div>
		<div class="main">
			<div th:replace="layout/navi :: navi">&nbsp;</div>
			<th:block layout:fragment="layout-content">
			    <p>Default layout content</p>
			</th:block>
		</div>
	<script src="./lib/js/bootstrap.js"></script>
	</body>
</html>